.board {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
	max-width: 850px;
	margin: 40px auto;
	padding: 10px;
}

@media (max-width: 1024px) {
	.board {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 768px) {
	.board {
		grid-template-columns: repeat(2, 1fr);
	}
}
